@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  html {
    scroll-behavior: smooth !important;
    position: relative !important;
  }
body {
  font-family: 'Poppins', sans-serif !important;
}
  .home{
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
  .home .home-content .text-1{
    font-size: 27px;
}
.home-content{
  padding-left: 20%;
  margin-top: 20%;
}
.hero{
  background-image: url(./images/home-background-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 20%;
}
.hero img{
  width: 100%;
  height: auto;
}
.about{
  background-image: url(./images/home-background-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 20%;
}
.about img{
  width: 100%;
  height: auto;
}
.hero .leads{
  text-align: left !important;
}

.navbar .nav-item .nav-link{
  color: rgb(255, 255, 255);
}

  .navbar .nav-link:hover{
    color: rgb(8, 8, 8) !important;
    
  }
  .dropdown-item{
    color: rgb(0, 0, 0) !important;
    font-weight: bolder !important;
    display: block;
  }
  .dropdown:hover .dropdown-menu{
    display: block !important;
  }
  .dropdown:focus .dropdown-menu{
    display: block !important;
  }
  .dropdown .dropdown-menu.show{
    display: none !important;
  }
  .nav-link{
    font-weight: bolder !important ;
  }
.content{
  padding-bottom: 10%;
}
  .content .text-white{
    padding-top: 250% !important;
    font-weight: 100;
    font-size: 150%;
    color: rgb(255, 255, 255);
  }

  .mission{
    background-image: url(./images/man-at-work.jpg);
    opacity: -20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

    background-size: cover;
    
  }
  .mission img{
    width: 100%;
    height: auto;
  }
  .mission h1{
    font-size: 70px;
  font-weight: bolder;
  padding-bottom: 5%;
  }
.mission P{
  font-size: 23px;
  color: aliceblue;
  font-weight: normal;
  
}
a.btn{
  color: rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 25px;
  padding: 10px 20px;
  transform: scale(1.5);
  margin-top: 50px;
  border-color: rgb(255, 255, 255);
}
a.btn:hover{
  background-color: rgb(255, 255, 255);
}
.container{
  padding: 3rem;

}
.container .nav-item .nav-link{
  color: rgb(255, 255, 255) !important;

}
.media .text-white{
  
  font-size: 90px;
  font-weight: bolder;
}
.values{
  background-image: url(./images/vision.jpg);
  opacity: -20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 10%;
}
.values img{
  width: 100%;
  height: auto;
}
.values h1{
  font-size: 70px;
  font-weight: bolder;
  padding-bottom: 5%;
}
.values P{
font-size: 23px;
color: aliceblue;
font-weight: normal;
}

.words{
  padding-top: 10%;
  padding-bottom: 10%;
}
.location{
  font-size: 170%;
  font-weight: bold;
}

.Strategy{
  padding-bottom: 10%;
  font-size: 200%;
  font-weight: bold;
}
.theme-text {
  color: #474af0;
}

.card-img-top {
  height: 200px;
  width: 100%;
}
.card {
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.card:hover {
  color: white;
}
.card::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0%;
  background: gray;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: -1;
}
.card:hover::before {
  left: 0%;
  color: white;
}
.container-fluid {
  background-image: url("blob-scene-haikei.svg");
  background-position: center;
  background-size: cover;
}