
  html {
    scroll-behavior: smooth !important;
    position: relative !important;
  }
  .banner-image{
    padding-bottom: 30%;
  }
.navbar .nav-item .nav-link{
  color: rgb(255, 255, 255);
}
  .navbar .nav-link:hover{
    color: rgb(8, 8, 8) !important;
    
  }
  .dropdown-item{
    color: rgb(0, 0, 0) !important;
    font-weight: bolder !important;
    display: block;
  }
  .dropdown:hover .dropdown-menu{
    display: block !important;
  }
  .dropdown:focus .dropdown-menu{
    display: block !important;
  }
  .dropdown .dropdown-menu.show{
    display: none !important;
  }
  .nav-link{
    font-weight: bolder !important ;
  }
.content{
  padding-bottom: 10%;
}
  .content .text-white{
    padding-top: 250% !important;
    font-weight: 100;
    font-size: 150%;
    color: rgb(255, 255, 255);
  }
 
  .mission{
    background-image: url(./images/woker.JPG);
    opacity: -20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    padding-bottom: 5%;
    background-size: cover;
    
  }
  .mission img{
    filter: brightness(0.5);
  }
  .mission h1{
    font-size: 70px;
  font-weight: bolder;
  padding-bottom: 5%;
  }
.mission P{
  font-size: 23px;
  color: aliceblue;
  font-weight: normal;
  
}
a.btn{
  color: rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 25px;
  padding: 10px 20px;
  transform: scale(1.5);
  margin-top: 50px;
  border-color: rgb(255, 255, 255);
}
a.btn:hover{
  background-color: rgb(255, 255, 255);
}
.container{
  padding: 3rem;

}
.container .nav-item .nav-link{
  color: rgb(255, 255, 255) !important;

}
.media .text-white{
  
  font-size: 90px;
  font-weight: bolder;
}
.values{
  background-image: url(./images/img321.JPG);
  opacity: -20px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 10%;
}
.values h1{
  font-size: 70px;
  font-weight: bolder;
  padding-bottom: 5%;
}
.values P{
font-size: 23px;
color: aliceblue;
font-weight: normal;
}

.words{
  padding-top: 10%;
  padding-bottom: 10%;
}
.location{
  font-size: 170%;
  font-weight: bold;
}

.Strategy{
  padding-bottom: 10%;
  font-size: 200%;
  font-weight: bold;
}
